<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.4" />
  </configSections>
  <bltoolkit>
    <dataProviders>
      <add type="BLToolkit.Data.DataProvider.PostgreSQLDataProvider, BLToolkit.Data.DataProvider.PostgreSQL.4" />
    </dataProviders>
  </bltoolkit>
  <appSettings>
    <add key="ConnectionString.PostgreSQL." value="Server=127.0.0.1;Port=5432;Database=bltoolkit;User Id=postgres;Password=1q2w3e;"/>
  </appSettings>
</configuration>